<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css"/> <!-- static path for public folder is already set in app.js -->
    </head>
    <body>
         <div class="main-content" style="min-height: 100vh;display:flex;justify-content:center;align-items:center">
            {{>header}}
        </div>
    </body>
</html>